<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Positron test task{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            .list-category .btn {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <header class="page-header">
            <h1>
                <a href="{{ path('app_home') }}">Positron test</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger btn-xs" href="{{ path('admin') }}">Admin zone</a>
                {% endif %}
                <a class="btn btn-default btn-xs" href="{{ path('app_feedback') }}">Feedback</a>
            </h1>
        </header>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
